.button {
	flex-shrink: 0;

	background-color: #444;
	border: 2px solid #666;

	transition: border 100ms linear;

	&:hover {
		border: 2px solid #0af;
	}
}
.label {
	display: inline-block;
	padding: 11px 20px;

	font-size: 1.6em;

	cursor: pointer;
}

.hiddenField {
	display: none;
}
